# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/server/dist
/client/dist
/server/tmp
/client/tmp

# dependencies
/server/node_modules
/client/node_modules
/server/bower_components
/client/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
