# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/api/dist
/client/dist
/api/tmp
/client/tmp

# dependencies
/api/node_modules
/client/node_modules
/api/bower_components
/client/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
